.app .content-account .register-area{
    width: 400px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;
    background-color: rgba(2, 2, 2, 0.198);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 8px;
}

.app .content-account .login-area{
    width: 400px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    background-color: rgba(2, 2, 2, 0.198);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 8px;
}

.register-area .title,
.login-area .title {
    width: 100%;
    height: 10%;
    background-color: rgba(2, 2, 2, 0.363);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    color: white
}

.register-area form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login-area form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-area form input[type="text"],
.register-area form input[type="email"],
.register-area form input[type="password"] {
    width: 70%;
    height: 10%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
}

.login-area form input[type="text"],
.login-area form input[type="email"],
.login-area form input[type="password"] {
    width: 70%;
    height: 10%;
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
}

.register-area form h4 {
    color: white;
    margin-top: 10px;
}

.login-area form h4 {
    color: white;
    margin-top: 8px;
}

.register-area .button-actions,
.login-area .button-actions {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register-area .button-actions .register,
.login-area .button-actions .login {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgba(2, 2, 2, 0.363);
    font-weight: 500;
    color: white;
    margin-top: 50px;
    cursor: pointer;
}

.register-area .button-actions .register:hover,
.login-area .button-actions .login:hover {
    background-color: #2c4572;
}