.app .content-account .register-area{
    width: 400px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;
    background-color: rgba(2, 2, 2, 0.198);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 8px;
}

.app .content-account .login-area{
    width: 400px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    background-color: rgba(2, 2, 2, 0.198);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 8px;
}

.register-area .title,
.login-area .title {
    width: 100%;
    height: 10%;
    background-color: rgba(2, 2, 2, 0.363);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    color: white
}

.register-area form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.login-area form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-area form input[type="text"],
.register-area form input[type="email"],
.register-area form input[type="password"] {
    width: 70%;
    height: 10%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
}
/*

.login-area form input[type="text"],
.login-area form input[type="email"],
.login-area form input[type="password"] {
    width: 70%;
    height: 10%;
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
}
*/

.register-area form h4 {
    color: white;
    margin-top: 10px;
}

.login-area form h4 {
    color: white;
    margin-top: 8px;
}

.register-area .button-actions,
.login-area .button-actions {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.register-area .button-actions .register,
.login-area .button-actions .login {
    width: 130px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: rgba(2, 2, 2, 0.363);
    font-weight: 500;
    color: white;
    margin-top: 50px;
    cursor: pointer;
}

.register-area .button-actions .register:hover,
.login-area .button-actions .login:hover {
    background-color: #2c4572;
}

.login-area form table {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-area  form tbody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-area  form tbody tr {
    display:flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
}

.login-area form table tr th {
    width: 100%;
    height: 50%;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.login-area form table tr td {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-area form table tr td input[type="text"],
.login-area form table tr td input[type="password"] {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 2px;
    font-weight: 700;
}

.app .content-security {
    width: 700px;
    height: 400px;
    max-height: 98%;
    max-width: 98%;
    background-color: rgba(2, 2, 2, 0.198);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border-radius: 8px;
    position: absolute;
}

.app .content-security-generator {
    width: 900px;
    height: 600px;
    max-height: 98%;
    max-width: 98%;
    background-color: rgba(2, 2, 2, 0.198);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border-radius: 8px;
    position: absolute;
}


.app .content-security .title,
.app .content-security-generator .title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(2, 2, 2, 0.493);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.app .content-security .sub-title,
.app .content-security-generator .sub-title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 5px;
}

.app .content-security .body,
.app .content-security-generator .body {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
}

.app .content-security .body .btn-factor,
.app .content-security-generator .body .btn-factor {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    background-color:rgba(2, 2, 2, 0.493);
    font-weight: 600;
    padding: 5px;
}

.disable {
    max-width: 350px;
}

.enable {
    max-width: 350px;
}

.app .content-security .body .btn-factor:hover,
.app .content-security-generator .body .btn-factor:hover,
.app .content-security .body .btn-factor-back:hover,
.app .content-security-generator .body .btn-factor-back:hover,
.app .content-security .body .btn-factor-confirm:hover,
.app .content-security-generator .body .btn-factor-confirm:hover {
    background-color: white;
    color:black;
    border: 1px solid black;
    transition: 0.2s;
}

.app .content-security .body form,
.app .content-security-generator .body form {
    width: 70%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.app .content-security .body form .btn-actions,
.app .content-security-generator .body form .btn-actions {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

.app .content-security .body .btn-factor-back, 
.app .content-security .body .btn-factor-confirm,
.app .content-security-generator .body .btn-factor-back, 
.app .content-security-generator .body .btn-factor-confirm {
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    background-color:rgba(2, 2, 2, 0.493);
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.app .content-security .body .btn-factor-disable {
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    background-color:rgba(2, 2, 2, 0.493);
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.app .content-security .body .btn-factor-disable:hover {
    background-color: white;
    color:black;
    border: 1px solid black;
    transition: 0.2s;
}