* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #2c4572;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
}

header {
    position: relative;
    height: 50px;
    max-height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    background-color: rgba(2, 2, 2, 0.493);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
} 

header .content {
    width: 1400px;
    max-width: 98%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

header .content .home {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-left: 10px;
    z-index: 1;
}

header .content .title {
    width: 60%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

header .content .title a,
header .content .home a {
    color: white;
}

header .content .login-area {
    width: 20%;
    height: 100%;
    max-width: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    right: 0;
}

header .content .login-area .button-login,
header .content .login-area .button-logout {
    width: 100%;
    max-width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


header .content button {
    width: 47.5%;
    height: 70%;
    border: 1px solid white;
    background: transparent;
    padding: 8px 5px;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    position: relative;
    right: 0px;
}

header .content button:hover {
    transition: background, color 0.3s;
    background: white;
    color: black;
}

.app {
    width: 100%;
    height: 93%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.app .content-actions-task {
    width: 1400px;
    height: 100%;
    max-width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.294);
    z-index: 1;
    display: none;
}

.app #content-edit-task,
.app #content-add-task {
    width: 300px;
    height: 250px;
    max-width: 70%;
    max-height: 70%;
    background-color: #303174;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app #content-edit-task h2,
.app #content-add-task h2 {
    height: 10%;
    top: 15px;
    position: relative;
    color: white;
}

.app #content-edit-task form,
.app #content-add-task form {
    width: 80%;
    height: 85%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.app #content-edit-task form input[type='text'],
.app #content-add-task form input[type='text'] {
    height: 30px;
    display: flex;
    text-align: center;
    margin-top: 2px;
}

.app #content-edit-task form textarea,
.app #content-add-task form textarea {
    display: flex;
    text-align: center;
    justify-content: center;
    resize: none;
    margin-top: 2px;
}

.app #content-edit-task form .content-input,
.app #content-add-task form .content-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.app #content-edit-task form .content-buttons,
.app #content-add-task form .content-buttons {
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.app #content-edit-task form .content-buttons button,
.app #content-add-task form .content-buttons button {
    width: 110px;
    max-width: 40%;
    height: 38px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(27, 24, 24, 0.63);
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.app #content-edit-task form .content-buttons button:hover,
.app #content-add-task form .content-buttons button:hover {
    background-color: rgba(104, 103, 103, 0.493);
    transition-duration: 0.3s;
}

.app #content-delete-task {
    width: 300px;
    height: 150px;
    max-width: 70%;
    max-height: 70%;
    background-color: #303174;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app #content-delete-task .info {
    width: 100%;
    height: 20%;
    position: relative;
    border-radius: 16px 16px 0px 0px;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.app #content-delete-task .content-msg {
    width: 100%;
    height: 40%;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.568);
}

.app #content-delete-task .content-buttons {
    width: 100%;
    height: 40%;
    position: relative;
    border: none;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.app #content-delete-task .content-buttons button {
    width: 110px;
    max-width: 40%;
    height: 38px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(27, 24, 24, 0.63);
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.app #content-delete-task .content-buttons button:hover {
    background-color: rgba(104, 103, 103, 0.493);
    transition-duration: 0.3s;
}

.app .content-actions {
    width: 1400px;
    max-width: 98%;
    height: 5%;
    position: relative;
}

.app .content-actions button {
    width: 130px;
    height: 36px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(27, 24, 24, 0.63);
    color: white;
    cursor: pointer;
}

.app .content-actions button:hover {
    background-color: rgba(104, 103, 103, 0.493);
    transition-duration: 0.3s;
}

.app .content {
    width: 1400px;
    height: 95%;
    max-width: 98%;
    background-color: rgba(2, 2, 2, 0.198);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 8px;
}

.app .content .tasks {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
}

.app .content .tasks .filters {
    width: 200px;
    min-width: 150px;
    background-color: rgba(2, 2, 2, 0.198);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.filters .title {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.filters .remove {
    width: 80%;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.filters .remove a {
    text-decoration: none;
    color: white;
}

.filters .complexity {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.filters .complexity select {
    height: 25px;
    width: 60%;
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 3px;
}

.filters .complexity select option {
    font-weight: 700;
}

.filters .completed {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.filters .completed a i {
    cursor: pointer; 
}

.app .content .tasks .rows {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.app .content .tasks .loading {
    width: 85%;
    height: 100%;
    display: flex;
    min-height: 680px;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.app .content .tasks .rows .first-row {
    width: 100%;
    height: 96%;
    min-height: 640px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
} 

.app .content .tasks .rows .pagination-row {
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.app .content .tasks .rows .pagination-row a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 6px;
    font-family: "Inter var", sans-serif;
    background-color: rgba(15, 15, 15, 0.616);
    cursor: pointer;
}

.app .content .tasks .rows .pagination-row .active {
    background-color: rgba(109, 109, 109, 0.616);
    transition: background-color .3s;
}

.app .content .tasks .rows .pagination-row a:hover {
    background-color: rgba(51, 51, 51, 0.616);
    transition: background-color .3s;
}

.app .content .tasks .task {
    --width: 300px;
    height: 300px;
    --max-width: 24%;
    background-color: rgba(15, 15, 15, 0.616);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.568);
    margin-left: 1%;
}

.app .content .tasks .task strong {
    color: white;
}

.app .content .tasks .task a {
    cursor: pointer;
}

.app .content .tasks .task .title {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app .content .tasks .task .content-data {
    height: 70%;
    width: 95%;
    padding: 5%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.app .content .tasks .task .actions {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}


.app .content .tasks .task h3 {
    color: white;
}

.green {
    color: rgb(46, 204, 113) !important;
}

.red {
    color: rgb(192, 57, 43) !important;
    font-weight: 400;
}

.gray {
    color: rgb(85, 85, 85) !important;
}

.purple {
    color: rgb(142, 68, 173) !important;
}

.blue {
    color: rgb(52, 152, 219) !important;
}

.yellow {
    color: rgb(216, 219, 52) !important;
}

.green-hover {
    color: rgb(46, 204, 113) !important;
}

.red-hover {
    color: rgb(192, 57, 43) !important;
    font-weight: 400;
}

.gray-hover {
    color: rgb(85, 85, 85) !important;
}

.purple-hover {
    color: rgb(142, 68, 173) !important;
}

.blue-hover {
    color: rgb(52, 152, 219) !important;
}

.green-hover:hover, .blue-hover:hover, .red-hover:hover, .gray-hover:hover, .purple-hover:hover {
    color: white !important;
}

.bold {
    font-weight: 600;
}

/* Documentation */
.app .content .documentation {
    width: 800px;
    max-width: 95%;
    height: 600px;
    max-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .content .documentation h1 {
    text-align: center;
    color: white;
}

.app .content .documentation table {
    width: 100%;
    height: 90%;
    position: relative;
    text-align: center;
    border-spacing: 0px;
    background: rgba(2, 2, 2, 0.198);
}

.app .content .documentation table th {
    border: 1px solid gray;
    color: white;
    height: 10%;
}

.app .content .documentation table thead {
    height: 10%;
}

.app .content .documentation table td {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    color: white;
}



footer {
    width: 100%;
    height: 7%;
    max-height: 7%;
    background-color: rgba(2, 2, 2, 0.493);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23ffffff' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer {
    width: 50%;
    max-width: 500px;
    height: 100%;
    display: flex;
}

.content-footer .left,
.content-footer .right {
    width: 50%;
    height: 90%;
    color: white;
    margin-bottom: 5px;
}

.content-footer .left .title,
.content-footer .right .title {
    width: 100%;
    height: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer .left .fone,
.content-footer .left .email {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer .right .linkedin,
.content-footer .right .github {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-footer .right .linkedin i,
.content-footer .right .github i {
    padding-left: 5px;
}


.content-footer .left .fone h6,
.content-footer .left .email h6{
    padding-left: 5px;
}

.content-footer .right .linkedin a,
.content-footer .right .github a {
    text-decoration: none;
    color: white;
}

.content-footer .right .linkedin a:hover,
.content-footer .right .github a:hover {
    color: rgb(46, 204, 113);
}

.content-footer .right {
    width: 50%;
    height: 100%;
}

/* Media Queries */
@media (max-width: 720px) {
    footer .content-footer {
        width: 100%;
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    header .content .home,
    header .content .title {
        font-size: 14px
    }
}

@media (max-width: 540px) {
    header .content .home,
    header .content .title {
        font-size: 12px
    }
}

@media (max-width: 540px) {
    header .content .home,
    header .content .title {
        font-size: 8px
    }
}

@media (max-width: 1353px) {
    .app #content-edit-task, 
    .app #content-add-task,
    .app #content-delete-task {
        top: 20%;
        transform: translate(-50%);
    }

}   

@media (max-width: 728px) {
    .app #content-edit-task, 
    .app #content-add-task,
    .app #content-delete-task {
        top: 10%;
        transform: translate(-50%);
    }
}

@media (max-width: 400px) {
    .app #content-edit-task form .content-buttons button, 
    .app #content-add-task form .content-buttons button {
        font-size: 12px;
    }
}

@media (max-width: 1141px) {
    header .content button {
        font-size: 12px;
    }
}

@media (max-width: 1064px) {
    header .content button {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    header .content .login-area {
        width: 30%;
    }
    header .content .title {
        width: 50%;
    }
}

@media (max-width: 470px) {
    header .content .login-area {
        width: 40%;
    }
    header .content .title {
        width: 40%;
    }
}